@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.nav-link {
  position: relative;
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
}

.nav-link2 {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
}

.nav-link:hover {
  /* Shadow only on the right and bottom */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Exo', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

/* Apply Exo for subtitles or specific elements */
h1, h2, h3, .subtitle {
  font-family: 'Montserrat', sans-serif;
}

input[type='number'].no-spinner::-webkit-inner-spin-button,
input[type='number'].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
